.homeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 30px;
    width: 100%;
    overflow-x: hidden;
}

.modeIcon{
    position: absolute;
    top: 0;
    right: 0;
    margin: 50px;
    font-size: 40px;
    cursor: pointer;
}

.modeIcon:hover{
    color: rgb(102, 102, 207);
}

header{
    padding: 20px;
    border-radius: 10px;
}

/* !Kandi Styling */

.kandiTitle{
    display: flex;
    gap: 3px;
    align-items: center;
}

.kandiString{
    font-size: 30px;
    font-weight: bold;
}

@keyframes shake-vertical {
    0% { transform: translateY(0); }
    25% { transform: translateY(-5px); }
    50% { transform: translateY(5px); }
    75% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}

.kandiLetterBead{
    font-size: 80px;
    border: solid 3px;
    border-radius: 5px;
    padding: 0 15px;
    transition: transform 0.2s ease;
}

.kandiLetterBeadI{
    font-size: 80px;
    border: solid 3px;
    border-radius: 5px;
    padding: 0 30px;
    transition: transform 0.2s ease;
}

.kandiLetterBead:hover, .kandiLetterBeadI:hover{
    animation: shake-vertical 0.5s ease;
}

/* !Kandi Color Beads Stlying */
.kandiPinkBead, .kandiPurpleBead, .kandiBlueBead, .kandiGreenBead, .kandiYellowBead, .kandiRedBead{
    border-radius: 25px;
}

/* !No glow */
.kandiPinkBead { border: 50px solid pink; }
.kandiPurpleBead { border: 50px solid rgb(236, 192, 255); }
.kandiBlueBead { border: 50px solid rgb(192, 219, 255); }
.kandiGreenBead { border: 50px solid rgb(192, 255, 197); }
.kandiYellowBead { border: 50px solid rgb(251, 255, 192); }
.kandiRedBead { border: 50px solid rgb(255, 192, 192); }

/* !With glow */
.kandiPinkBead.glow-effect { box-shadow: 0 0 15px pink; }
.kandiPurpleBead.glow-effect { box-shadow: 0 0 15px rgb(236, 192, 255); }
.kandiBlueBead.glow-effect { box-shadow: 0 0 15px rgb(192, 219, 255); }
.kandiGreenBead.glow-effect { box-shadow: 0 0 15px rgb(192, 255, 197); }
.kandiYellowBead.glow-effect { box-shadow: 0 0 15px rgb(251, 255, 192); }
.kandiRedBead.glow-effect { box-shadow: 0 0 15px rgb(255, 192, 192); }

.caption{
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.searchBar{
    display: flex;
    gap: 10px;
}

.searchBar input{
    padding: 10px;
    font-size: 20px;
    width: 50vh;
    border-radius: 5px;
}

.searchBar button{
    font-size: 20px;
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
    color: white;
    background-color: rgb(102, 102, 207);
}

.searchBar button:hover{
    background-color: white;
    color: rgb(102, 102, 207);
}